@charset "UTF-8";
@font-face {
  font-family: 'Modern Pictograms Pro';
  font-weight: 100;
  src: url("../fonts/modernpics_2_268e-webfont.woff2") format("woff2"), url("../fonts/modernpics_2_268e-webfont.woff") format("woff"), url("../fonts/modernpics_2_268e-webfont.eot") format("eot"); }

@font-face {
  font-family: 'GT Cinetype Bold';
  src: url("../fonts/GT-Cinetype-Bold.woff2") format("woff2"), url("../fonts/GT-Cinetype-Bold.woff") format("woff"), url("../fonts/GT-Cinetype-Bold.eot") format("eot"); }

h3, .link__text, strong {
  text-transform: uppercase;
  letter-spacing: 0.05em; }

/* --------------------------------------------------------

Remove the unit of a length
@param {Number} $number - Number to remove unit from
@return {Number} - Unitless number

-------------------------------------------------------- */
/* --------------------------------------------------------

Variable Map Lists for the text-size mixin

-------------------------------------------------------- */
/*
125/144 = 0.8680555555555556
0.8680555555555556 * 108 = 93.75
0.8680555555555556 * 216 = 187.5
*/
/* --------------------------------------------------------

Mixin for font-size and line-height definition
  Usage Example: @include text-size($l);

-------------------------------------------------------- */
/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility; }

main {
  display: block; }

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit; }

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0; }

ol,
ul {
  list-style: none;
  padding: 0; }

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 0.75em; }

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content */
img {
  border: 0; }

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  padding: 0; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none; }

input,
textarea {
  font-family: inherit; }

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield; }

/* Tables */
table {
  border-collapse: collapse; }

th,
td {
  padding: 0; }

th {
  vertical-align: bottom; }

td {
  vertical-align: top; }

a {
  color: inherit; }

address {
  font-style: normal; }

:root {
  --animation-duration: 0.3s;
  --animation-easing: ease-in; }

@media screen and (min-width: 1px) {
  h2, .hero__description {
    font-size: 24px;
    line-height: calc(24 / 24); } }

@media screen and (min-width: 513px) {
  h2, .hero__description {
    font-size: 24px;
    line-height: calc(24 / 24); } }

@media screen and (min-width: 769px) {
  h2, .hero__description {
    font-size: 48px;
    line-height: calc(48 / 48); } }

@media screen and (min-width: 1025px) {
  h2, .hero__description {
    font-size: 64px;
    line-height: calc(64 / 64); } }

@media screen and (min-width: 1441px) {
  h2, .hero__description {
    font-size: 64px;
    line-height: calc(64 / 64); } }

@media screen and (min-width: 1px) {
  h3, .link__text {
    font-size: 14px;
    line-height: calc(19.6 / 14); } }

@media screen and (min-width: 513px) {
  h3, .link__text {
    font-size: 14px;
    line-height: calc(19.6 / 14); } }

@media screen and (min-width: 769px) {
  h3, .link__text {
    font-size: 16px;
    line-height: calc(22.4 / 16); } }

@media screen and (min-width: 1025px) {
  h3, .link__text {
    font-size: 18px;
    line-height: calc(25.2 / 18); } }

@media screen and (min-width: 1441px) {
  h3, .link__text {
    font-size: 18px;
    line-height: calc(25.2 / 18); } }

html {
  font-family: "GT Cinetype Bold", sans-serif;
  font-weight: normal; }
  @media screen and (min-width: 1px) {
    html {
      font-size: 14px;
      line-height: calc(19.6 / 14); } }
  @media screen and (min-width: 513px) {
    html {
      font-size: 14px;
      line-height: calc(19.6 / 14); } }
  @media screen and (min-width: 769px) {
    html {
      font-size: 16px;
      line-height: calc(22.4 / 16); } }
  @media screen and (min-width: 1025px) {
    html {
      font-size: 18px;
      line-height: calc(25.2 / 18); } }
  @media screen and (min-width: 1441px) {
    html {
      font-size: 18px;
      line-height: calc(25.2 / 18); } }

body {
  font-weight: normal;
  overflow-x: hidden; }
  @media screen and (min-width: 1px) {
    body {
      font-size: 14px;
      line-height: calc(19.6 / 14); } }
  @media screen and (min-width: 513px) {
    body {
      font-size: 14px;
      line-height: calc(19.6 / 14); } }
  @media screen and (min-width: 769px) {
    body {
      font-size: 16px;
      line-height: calc(22.4 / 16); } }
  @media screen and (min-width: 1025px) {
    body {
      font-size: 18px;
      line-height: calc(25.2 / 18); } }
  @media screen and (min-width: 1441px) {
    body {
      font-size: 18px;
      line-height: calc(25.2 / 18); } }

@media screen and (min-width: 1px) {
  h1 {
    font-size: 108px;
    line-height: calc(93.75 / 108); } }

@media screen and (min-width: 513px) {
  h1 {
    font-size: 108px;
    line-height: calc(93.75 / 108); } }

@media screen and (min-width: 769px) {
  h1 {
    font-size: 144px;
    line-height: calc(125 / 144); } }

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 216px;
    line-height: calc(187.5 / 216); } }

@media screen and (min-width: 1441px) {
  h1 {
    font-size: 216px;
    line-height: calc(187.5 / 216); } }

p a {
  display: inline; }

p + p {
  margin-top: 0.5rem; }

strong {
  font-weight: normal; }

i,
em {
  font-style: italic; }

u {
  text-decoration: none; }

figcaption {
  text-align: left; }

ol {
  font-weight: normal;
  margin-bottom: 0.5rem; }

ul {
  font-weight: normal;
  margin-bottom: 0.5rem; }

iframe {
  width: 100%; }

figure[data-type=embed] {
  text-align: center; }

figure[data-type=embed] iframe.instagram-media {
  position: relative !important;
  margin: 0 auto !important;
  max-width: 35em !important; }

figure[data-type=quote] {
  width: 100% !important; }
  figure[data-type=quote] cite:before {
    content: "—"; }

.question-container {
  position: relative; }
  .question-container:first-child {
    margin-top: 2rem;
    padding-top: 2rem; }

.question-container:not(:first-child) {
  margin-top: -50px; }

.question-container .line-svg--top .line-svg__below {
  cursor: pointer; }

.number {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  transition: background-color var(--animation-duration) var(--animation-easing), color var(--animation-duration) var(--animation-easing);
  cursor: pointer; }

.question {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  transition: background-color var(--animation-duration) var(--animation-easing), color var(--animation-duration) var(--animation-easing);
  cursor: pointer; }

.question__text {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center; }

.answer {
  height: 0px;
  margin: auto;
  overflow: hidden;
  color: white;
  background-color: white;
  padding-bottom: 2rem;
  transition: height var(--animation-duration) var(--animation-easing), background-color var(--animation-duration) var(--animation-easing), color var(--animation-duration) var(--animation-easing); }
  .answer h3, .answer p {
    width: 75%;
    max-width: 35rem; }
  .answer h3 {
    margin: 2rem auto 1rem auto; }
  .answer p {
    margin: 1rem auto; }

.question-container.question-container--odd .number,
.question-container.question-container--odd .question__text {
  color: #5b66fb; }

.question-container.question-container--even .number,
.question-container.question-container--even .question__text {
  color: #fc368e; }

.question-container--even.show .answer,
.question-container--even.show .number,
.question-container--even.show .question {
  background-color: #fc368e; }

.question-container--odd.show .answer,
.question-container--odd.show .number,
.question-container--odd.show .question {
  background-color: #5b66fb; }

.question-container--even.show .number,
.question-container--odd.show .number,
.question-container--even.show .question__text,
.question-container--odd.show .question__text {
  color: white; }

.question-container.show .answer {
  height: 100%; }

.question-container--odd .line-svg--top .line-svg__line {
  stroke: #5b66fb; }

.question-container--even .line-svg--top .line-svg__line {
  stroke: #fc368e; }

.question-container--odd.show .line-svg--top .line-svg__below,
.question-container--odd.show .line-svg--bottom .line-svg__above {
  fill: #5b66fb; }

.question-container--even.show .line-svg--top .line-svg__below,
.question-container--even.show .line-svg--bottom .line-svg__above {
  fill: #fc368e; }

.question-container rect {
  fill: transparent; }

.intro + .question-container .line-svg--top .line-svg__line {
  stroke: transparent; }

.question-container--even .gallery__previous {
  background-image: linear-gradient(to right, #fc368e, transparent); }

.question-container--even .gallery__next {
  right: 0;
  background-image: linear-gradient(to right, transparent, #fc368e); }

.question-container--odd .gallery__previous {
  background-image: linear-gradient(to right, #5b66fb, transparent); }

.question-container--odd .gallery__next {
  right: 0;
  background-image: linear-gradient(to right, transparent, #5b66fb); }

.gallery-container + .question-container .line-svg--top .line-svg__line {
  stroke: transparent; }

.gallery-container + .question-container .line-svg--top .line-svg__line,
.link-container + .question-container .line-svg--top .line-svg__line {
  stroke: transparent; }

.line-svg__container,
.line-svg {
  width: 100vw;
  height: 50px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }

.line-svg__line {
  stroke-width: 10px;
  fill: transparent; }

.line-svg__rect {
  transition: fill var(--animation-duration) var(--animation-easing); }

.line-svg__above {
  pointer-events: none; }

.gallery {
  background-color: #fc368e;
  padding-bottom: 1rem; }

.gallery-container:not(:first-child) {
  margin-top: -50px; }

.gallery__title {
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem; }

.gallery__description {
  color: white;
  text-align: center; }

.gallery-container .line-svg__line {
  stroke: transparent; }

.gallery-container .line-svg__rect {
  fill: #fc368e; }

.gallery__slider {
  display: none;
  background-color: transparent;
  overflow-x: hidden;
  margin: 0; }

.gallery__arrows {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  color: white;
  border: 0;
  background-color: transparent;
  padding: 0 1rem;
  cursor: pointer; }
  @media screen and (min-width: 1px) {
    .gallery__arrows {
      font-size: 24px;
      line-height: calc(24 / 24); } }
  @media screen and (min-width: 513px) {
    .gallery__arrows {
      font-size: 24px;
      line-height: calc(24 / 24); } }
  @media screen and (min-width: 769px) {
    .gallery__arrows {
      font-size: 48px;
      line-height: calc(48 / 48); } }
  @media screen and (min-width: 1025px) {
    .gallery__arrows {
      font-size: 64px;
      line-height: calc(64 / 64); } }
  @media screen and (min-width: 1441px) {
    .gallery__arrows {
      font-size: 64px;
      line-height: calc(64 / 64); } }

.gallery__previous {
  left: 0;
  background-image: linear-gradient(to right, #fc368e, rgba(252, 54, 142, 0)); }

.gallery__next {
  right: 0;
  background-image: linear-gradient(to right, rgba(252, 54, 142, 0), #fc368e); }

.slick-slide {
  padding: 0 1rem;
  text-align: center;
  box-sizing: border-box;
  min-width: calc( 328px + 1rem); }

.slide {
  margin: 0 auto; }

.hero {
  --animation-duration: 0.8s;
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  padding: 0;
  margin: 0;
  background-color: #5b66fb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.hero__text-container {
  --transform-start: translate(0, 100vh) rotate(0deg);
  color: white;
  transition: transform var(--animation-duration) var(--animation-easing);
  transform: var(--transform-start); }

.hero.show .hero__text-container {
  transform: translate(0, 0) rotate(-12deg); }

.hero__title {
  width: 5ch;
  text-align: center;
  margin: 0 auto; }

.hero__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 24vw;
  width: 24vw;
  background: transparent;
  transition: transform var(--animation-duration) var(--animation-easing); }

.hero__logo--left {
  transform: translate(-24vw, calc(90vh/ 2 - 24vw/ 2)); }

.hero__logo--right {
  transform: translate(124vw, calc(90vh/ 2 - 24vw/ 2)); }

.hero.show .hero__logo--left {
  transform: translate(-12vw, calc((90vh/ 2) - 24vw/ 2)); }

.hero.show .hero__logo--right {
  transform: translate(88vw, calc((90vh/ 2) - (24vw/ 2))); }

.hero__logo svg {
  --animation-duration: 10.0s;
  animation-duration: var(--animation-duration);
  animation-name: rolling;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.hero__logo svg path {
  fill: white; }

@keyframes rolling {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.intro {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  padding: 0;
  margin: 0; }

.intro:not(:first-child) {
  margin-top: -50px; }

.intro__text-container {
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fc368e;
  width: 100%;
  text-align: center; }

.intro__title,
.intro__description {
  width: 75%;
  margin: 0 auto; }

@media screen and (min-width: 1px) {
  .intro__title {
    font-size: 14px;
    line-height: calc(19.6 / 14); } }

@media screen and (min-width: 513px) {
  .intro__title {
    font-size: 14px;
    line-height: calc(19.6 / 14); } }

@media screen and (min-width: 769px) {
  .intro__title {
    font-size: 16px;
    line-height: calc(22.4 / 16); } }

@media screen and (min-width: 1025px) {
  .intro__title {
    font-size: 18px;
    line-height: calc(25.2 / 18); } }

@media screen and (min-width: 1441px) {
  .intro__title {
    font-size: 18px;
    line-height: calc(25.2 / 18); } }

@media screen and (min-width: 1px) {
  .intro__description {
    font-size: 24px;
    line-height: calc(24 / 24); } }

@media screen and (min-width: 513px) {
  .intro__description {
    font-size: 24px;
    line-height: calc(24 / 24); } }

@media screen and (min-width: 769px) {
  .intro__description {
    font-size: 48px;
    line-height: calc(48 / 48); } }

@media screen and (min-width: 1025px) {
  .intro__description {
    font-size: 64px;
    line-height: calc(64 / 64); } }

@media screen and (min-width: 1441px) {
  .intro__description {
    font-size: 64px;
    line-height: calc(64 / 64); } }

.intro .line-svg--top .line-svg__above {
  fill: transparent; }

.intro .line-svg--top .line-svg__below {
  fill: #fc368e; }

.intro .line-svg--bottom .line-svg__above {
  fill: #fc368e; }

.intro .line-svg--top .line-svg__line {
  stroke: transparent; }

[data-react-component='Nav'] {
  display: none; }

[data-react-component="Nav"] header {
  z-index: 2; }

[data-react-component="Nav"] button {
  opacity: 0;
  pointer-events: none; }

.link__text {
  color: white;
  padding: 2rem;
  background-color: #1f1f1f; }

.link .line-svg--top .line-svg__below,
.link .line-svg--bottom .line-svg__above {
  fill: #1f1f1f; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  line-height: 0; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
