.question-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;

  padding-bottom: $medium-space;

  &:first-child {
    margin-top: $medium-space;
    padding-top: $medium-space;
  }
}

.number {
  width: 100%;
  text-align: center;
  @include text-size($m);
  margin-bottom: $small-space;
}

.question {
  width: 100%;
  text-align: center;
  @include text-size($l);
  margin-bottom: $small-space;
  cursor: pointer;

  &:hover {
    color: $dark-color;
  }
}

.answer {
  width: 75%;
  height: 0;
  margin: auto;
  overflow: hidden;
  transition: height 0.3s ease-in;

  p {
    max-width: 35em;
    margin: $small-space auto;
  }
}

.question-container.question-container--odd .number,
.question-container.question-container--odd .question {
  color: $pop-color-1;
}

.question-container.question-container--even .number,
.question-container.question-container--even .question {
  color: $pop-color-2;
}

.question-container:hover.question-container--even,
.question-container.question-container--even.show {
  background-color: $pop-color-2;
  transition: background-color 0.3 ease-in;
}

.question-container:hover.question-container--odd,
.question-container.question-container--odd.show {
  background-color: $pop-color-1;
  transition: background-color 0.3 ease-in;
}

.question-container.question-container--even:hover .number,
.question-container.question-container--odd:hover .number,
.question-container.question-container--even:hover .question,
.question-container.question-container--odd:hover .question,
.question-container.question-container--even:hover .answer,
.question-container.question-container--odd:hover .answer,
.question-container.question-container--even.show .number,
.question-container.question-container--odd.show .number,
.question-container.question-container--even.show .question,
.question-container.question-container--odd.show .question,
.question-container.question-container--even.show .answer,
.question-container.question-container--odd.show .answer {
  color: $lightest-color;
}

.question-container.show .answer {
  height: 100%;
}
