.question-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;

  // padding-bottom: $medium-space;

  &:first-child {
    margin-top: $medium-space;
    padding-top: $medium-space;
  }
}

.question-container:not(:first-child) {
  margin-top: -($line-svg-height);
}

.question-container .line-svg--top .line-svg__below {
  cursor: pointer;
}

.number {
  width: 100%;
  text-align: center;
  @include text-size($m);
  padding-bottom: $small-space;

  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in;
  cursor: pointer;
}

.question {
  width: 100%;
  padding-bottom: $small-space;

  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in;
  cursor: pointer;
}
.question__text {
  width: calc(100% - $small-space);
  text-align: center;
  @include text-size($l);
}

.answer {
  height: 0%;
  margin: auto;
  overflow: hidden;
  transition: height 0.3s ease-in;
  color: $lightest-color;

  p {
    width: 75%;
    max-width: 35em;
    margin: $small-space auto;
  }
}

.question-container--even .answer {
  background-color: $pop-color-2;
}
.question-container--odd .answer {
  background-color: $pop-color-1;
}

.question-container.question-container--odd .number,
.question-container.question-container--odd .question__text {
  color: $pop-color-1;
}

.question-container.question-container--even .number,
.question-container.question-container--even .question__text {
  color: $pop-color-2;
}

.question-container--even:hover .number,
.question-container--even:hover .question,
.question-container--even.show .number,
.question-container--even.show .question {
  background-color: $pop-color-2;
}

.question-container--odd:hover .number,
.question-container--odd:hover .question,
.question-container--odd.show .number,
.question-container--odd.show .question {
  background-color: $pop-color-1;
}

.question-container--even:hover .number,
.question-container--odd:hover .number,
.question-container--even:hover .question__text,
.question-container--odd:hover .question__text,
.question-container--even.show .number,
.question-container--odd.show .number,
.question-container--even.show .question__text,
.question-container--odd.show .question__text {
  color: $lightest-color;
}

.question-container.show .answer {
  height: 100%;
}

.question-container--odd .line-svg--top .line-svg__line {
  stroke: $pop-color-1;
}
.question-container--even .line-svg--top .line-svg__line {
  stroke: $pop-color-2;
}

.question-container--odd:hover .line-svg--top .line-svg__below,
.question-container--odd:hover .line-svg--bottom .line-svg__above,
.question-container--odd.show .line-svg--top .line-svg__below,
.question-container--odd.show .line-svg--bottom .line-svg__above {
  fill: $pop-color-1;
}
.question-container--even:hover .line-svg--top .line-svg__below,
.question-container--even:hover .line-svg--bottom .line-svg__above,
.question-container--even.show .line-svg--top .line-svg__below,
.question-container--even.show .line-svg--bottom .line-svg__above {
  fill: $pop-color-2;
}

.question-container rect {
  fill: transparent;
}

.intro + .question-container .line-svg--top .line-svg__line {
  stroke: transparent;
}

.question-container--even .gallery__previous {
  background-image: linear-gradient(to right, rgba($pop-color-2, 1), transparent);
}
.question-container--even .gallery__next {
  right: 0;
  background-image: linear-gradient(to right, transparent, rgba($pop-color-2, 1));
}
.question-container--odd .gallery__previous {
  background-image: linear-gradient(to right, rgba($pop-color-1, 1), transparent);
}
.question-container--odd .gallery__next {
  right: 0;
  background-image: linear-gradient(to right, transparent, rgba($pop-color-1, 1));
}

