.gallery-container {
  
}

.gallery {
  background-color: $pop-color-2;
  overflow: hidden;
}

.gallery-container:not(:first-child) {
  margin-top: -($line-svg-height);
}

.gallery__title {
  @include text-size($l);
  color: $lightest-color;
  text-align: center;
  text-transform: uppercase;
}

.gallery__description {
  color: $lightest-color;
  text-align: center;
}

.gallery-container .line-svg__line {
  stroke: transparent;
}

.gallery-container .line-svg__rect {
  fill: $pop-color-2;
}

.question-conatiner + .gallery-container {

}

.gallery-container {

}

.gallery__slider {
  display: none;
  background-color: transparent;
  overflow-x: hidden;
}

.gallery__arrows {
  @include text-size($xl);
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  transition: all 0.5s ease;
  color: $lightest-color;
  border: 0;
  background-color: transparent;
  padding: 0 $small-space 0 $medium-space;
}
.gallery__previous {
  left: 0;
  background-image: linear-gradient(to right, rgba($pop-color-2, 1), transparent);
}
.gallery__next {
  right: 0;
  background-image: linear-gradient(to right, transparent, rgba($pop-color-2, 1));
}

.slide {
  max-width: calc( 100% - $small-space * 2 );
  margin: 0 auto;
}