$hero-height: 90vh;
$hero-logo-width: 24vw;

.hero {
  --animation-duration: 0.8s;
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: $hero-height;
  padding: 0;
  margin: 0;

  background-color: $pop-color-1;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.hero__text-container {
  --transform-start: translate(0, 100vh) rotate(0deg);
  
  color: $lightest-color;

  -webkit-transition: -webkit-transform var(--animation-duration) var(--animation-easing);
          transition: transform var(--animation-duration) var(--animation-easing);

  -webkit-transform: var(--transform-start);
          transform: var(--transform-start);
}

.hero.show .hero__text-container {
  --transform-end: translate(0, 0) rotate(-12deg);
  -webkit-transform: var(--transform-end);
          transform: var(--transform-end);
}

.hero__title {
  width: 5ch;
  text-align: center;
  margin: 0 auto;
}

.hero__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: $hero-logo-width;
  width: $hero-logo-width;
  background: transparent;

  -webkit-transition: -webkit-transform var(--animation-duration) var(--animation-easing);
          transition: transform var(--animation-duration) var(--animation-easing);
}

.hero__logo--left {
  --translate-logo-left-start: translate(-#{ $hero-logo-width }, calc(#{ $hero-height / 2 } - #{ $hero-logo-width / 2 }));
  -webkit-transform: var(--translate-logo-left-start);
          transform: var(--translate-logo-left-start);
}

.hero__logo--right {
  --translate-logo-right-start: translate( 100vw, calc(#{ $hero-height / 2 } - #{ $hero-logo-width / 2 }));
  -webkit-transform: var(--translate-logo-right-start);
          transform: var(--translate-logo-right-start);
}

.hero.show .hero__logo--left {
  --translate-logo-left-end: translate(-#{ $hero-logo-width / 2 }, calc((#{ $hero-height / 2 } ) - #{ $hero-logo-width / 2 }));
  -webkit-transform: var(--translate-logo-left-end);
          transform: var(--translate-logo-left-end);
}

.hero.show .hero__logo--right {
  --translate-logo-right-end: translate(calc( 100vw - #{  $hero-logo-width / 2 }), calc((#{ $hero-height / 2}) - (#{ $hero-logo-width / 2 })));
  -webkit-transform: var(--translate-logo-right-end);
          transform: var(--translate-logo-right-end);
}

.hero__logo svg {
  --animation-duration: 10.0s;
  animation-duration: var(--animation-duration);
  animation-name: rolling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero__logo svg path {
  fill: $lightest-color;
}

.hero__description {
  @extend %h2;
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
