.intro {
  --transition-delay: 0;
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  padding: 0;
  margin: 0;

  transition: transform var(--transition-duration) var(--transition-timing-function);
  margin-top: 0;
}

.intro.slide-up {
  margin-top: -10vh;
}

.intro__description {
  @extend %h2;
}

.intro__text-container {
  color: $lightest-color;

  background-color: $pop-color-2;

  width: 100%;
  text-align: center;

  // bump up against the svgs that wrap the element to
  // prevent the 1px render bug
  margin-top: -1px;
  margin-bottom: -1px;

  padding-top: var(--s-3);
  padding-bottom: var(--s-3);

  @include respond-above(small) {
    padding-top: var(--s-5);
    padding-bottom: var(--s-5);
  }
}

.intro .line-svg--top .line-svg__above {
  fill: transparent;
}

.intro .line-svg--top .line-svg__below {
  fill: $pop-color-2;
}

.intro .line-svg--bottom .line-svg__above {
  fill: $pop-color-2;
}

.intro .line-svg--top .line-svg__line {
  stroke: transparent;
}