// internal to component
.line-svg__container,
.line-svg {
  width: 100vw;
  height: $line-svg-height;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.line-svg__line {
  stroke-width: $line-svg-stroke-width;
  fill: transparent;
}


// ----- old

// .line-svg__above--intro {
//   fill: $pop-color-1;
// }
// .line-svg__line--intro {
//   stroke: transparent;
// }
// .line-svg__below--intro {
//   fill: $pop-color-1;
// }

// .line-svg__above--question-even {
//   fill: $lightest-color;

//   &:hover {
//     fill: $pop-color-2;
//   }
// }
// .line-svg__line--question-even {
//   stroke: $pop-color-2;
// }
// .line-svg__below--question-even {
//   fill: $lightest-color;

//   &:hover {
//     fill: $pop-color-2;
//   }
// }

// .line-svg__above--question-odd {
//   fill: $lightest-color;

//   &:hover {
//     fill: $pop-color-1;
//   }
// }
// .line-svg__line--question-odd {
//   stroke: $pop-color-1;
// }
// .line-svg__below--question-odd {
//   fill: $lightest-color;

//   &:hover {
//     fill: $pop-color-1;
//   }
// }

// .line-svg__above--link {
//   fill: $pop-color-2;
// }
// .line-svg__line--link {
//   stroke: transparent;
// }
// .line-svg__below--link {
//   fill: $pop-color-2;
// }

// .line-svg__above--gallery {
//   fill: $pop-color-1;
// }
// .line-svg__line--gallery {
//   stroke: transparent;
// }
// .line-svg__below--gallery {
//   fill: $pop-color-1;
// }
