// internal to component
.line-svg__container,
.line-svg {
  width: 100vw;
  height: $line-svg-height;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.line-svg__line {
  stroke-width: $line-svg-stroke-width;
  fill: transparent;
}

.line-svg__rect {
  transition: fill var(--animation-duration) var(--animation-easing);
}

.line-svg__above {
  pointer-events: none;
}