[data-react-component='Nav'] {
  display: none;
}

[data-react-component="Nav"] header {
  z-index: 2;
}

// hide the hamburger menu
[data-react-component="Nav"] button {
  opacity: 0;
  pointer-events: none;
}
