$even-pop-color: $pop-color-2;
$odd-pop-color: $pop-color-1;

.question-container {
  --even-pop-color: var(--pop-color-2);
  --odd-pop-color: var(--pop-color-1);
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;

  // padding-bottom: var(--s-3);

  &:first-child {
    margin-top: var(--s-3);
    padding-top: var(--s-3);
  }
}

.question-container:not(:first-child) {
  margin-top: calc(-1 * var(--line-svg-height));
}

.question-container .line-svg--top .line-svg__below {
  cursor: pointer;
}

.number {
  width: 100%;
  text-align: center;
  padding-top: var(--s-3);

  transition:
    background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
  background-color: var(--lightest-color);
}

.question {
  width: 100%;

  padding-top: var(--s-2);
  padding-bottom: var(--s-3);

  transition:
    background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);

  cursor: pointer;
  background-color: var(--lightest-color);
}
.question__text {
  text-align: center;
}

.answer {
  height: 0px;
  margin: auto;
  overflow: hidden;
  color: var(--lightest-color);
  background-color: var(--lightest-color);
  padding-bottom: var(--s-3);

  transition:
    height var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);

  h3 {
    margin: var(--s-3) auto var(--s-2) auto;
  }

  p {
    margin: var(--s-2) auto;
  }
}

figure[data-type=embed].vimeo-figure:first-child {
  margin-top: var(--s-3);
}

// .question-container--even .answer {
//   background-color: $pop-color-2;
// }
// .question-container--odd .answer {
//   background-color: $pop-color-1;
// }

.question-container.question-container--odd .number,
.question-container.question-container--odd .question__text {
  color: var(--odd-pop-color);
}

.question-container.question-container--even .number,
.question-container.question-container--even .question__text {
  color: $pop-color-2;
}

// .question-container--even:hover .number,
// .question-container--even:hover .question,
.question-container--even.show .answer,
.question-container--even.show .number,
.question-container--even.show .question {
  background-color: $pop-color-2;
}

// .question-container--odd:hover .number,
// .question-container--odd:hover .question,
.question-container--odd.show .answer,
.question-container--odd.show .number,
.question-container--odd.show .question {
  background-color: var(--odd-pop-color);
}

// .question-container--even:hover .number,
// .question-container--odd:hover .number,
// .question-container--even:hover .question__text,
// .question-container--odd:hover .question__text,
.question-container--even.show .number,
.question-container--odd.show .number,
.question-container--even.show .question__text,
.question-container--odd.show .question__text {
  color: var(--lightest-color);
}

.question-container--odd .line-svg--top .line-svg__line {
  stroke: var(--odd-pop-color);
}
.question-container--even .line-svg--top .line-svg__line {
  stroke: var(--even-pop-color);
}

.question-container .line-svg--top .line-svg__below,
.question-container .line-svg--bottom .line-svg__above, {
  fill: var(--lightest-color);
}

.question-container--odd.show .line-svg--top .line-svg__below,
.question-container--odd.show .line-svg--bottom .line-svg__above {
  fill: var(--odd-pop-color);
}

.question-container--even.show .line-svg--top .line-svg__below,
.question-container--even.show .line-svg--bottom .line-svg__above {
  fill: var(--even-pop-color);
}

.question-container--even .gallery__previous {
  background-image: linear-gradient(to right, rgba($even-pop-color, 1), rgba($even-pop-color, 0));
}
.question-container--even .gallery__next {
  right: 0;
  background-image: linear-gradient(to right, rgba($even-pop-color, 0), rgba($even-pop-color, 1));
}
.question-container--odd .gallery__previous {
  background-image: linear-gradient(to right, rgba($odd-pop-color, 1), rgba($odd-pop-color, 0));
}
.question-container--odd .gallery__next {
  right: 0;
  background-image: linear-gradient(to right, rgba($odd-pop-color, 0), rgba($odd-pop-color, 1));
}

.intro + .question-container .line-svg--top .line-svg__line,
.gallery-container + .question-container .line-svg--top .line-svg__line,
.link + .question-container .line-svg--top .line-svg__line {
  stroke: transparent;
}
