figure {

}

figcaption {
  
}

figure[data-type=embed] {
  text-align: center;
}

figure[data-type=embed] iframe.instagram-media {
  // sorry for the important.
  // these iframes are dynamically inserted.
  // could use MutationObserver, but then we loose
  // ie 9 compatability. the polyfill is not suggested
  // for running on lower powered devices.
  position: relative !important;
  margin: 0 auto !important;
  max-width: 328px !important;

  @include respond-above(small) {
    max-width: 35em !important;    
  }
}

figure[data-type=table] {

}

figure[data-type=video] {
  figcaption {

  }

  &.wy-figure-right {

  }

  &.wy-figure-right .wy-figure-controls {

  }

  &.wy-figure-left {

  }

  &.wy-figure-full {
    p {

    }

    iframe {

    }
  }
}

figure[data-type=video] p {

}

figure[data-type=video].wy-figure-full p {

}

figure[data-type=video].wy-figure-full iframe {

}

figure[data-type=image] {
  &.wy-figure-right {

  }

  &.wy-figure-right .wy-figure-controls {

  }

  &.wy-figure-left {

  }

  &.wy-figure-large {

  }

  &.wy-figure-medium {

  }

  &.wy-figure-small {

  }

  figcaption {

  }

  img {

  }
}

figure[data-type=quote] {
  width: 100% !important;
  &.wy-figure-right {
    blockquote {

    }
  }

  &.wy-figure-right .wy-figure-controls {

  }

  &.wy-figure-left {

  }

  blockquote {

  }

  cite {
    &:before {
      content: "—";
    }
  }
}
