{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

  {% set listofquestions = cms.listofquestions %}
  {% set content = cms.homepage.content_list %}

  {% for item in content %}
    {% if item.question__answer %}
    <div class="question-container">
      <h3 class="number">{{ loop.index }}</h3>
      <h2 class="question">{{ item.question__answer.question }}</h2>
      <div class="answer">{{ item.question__answer.answer|safe }}</div>
    </div>
    {% endif %}
  {% endfor %}

{% endblock %}
