{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}

  {% set line_break_sequence = {
      above: null,
      below: null,
      count: 0,
    }
  %}

  {# hero #}
  {% set hero = {
      video: cms.listofquestions.hero_video,
      title: cms.listofquestions.hero_title,
      description: cms.listofquestions.hero_description,
    }
  %}

  {# adds hero._is_hero #}
  {% include 'templates/partials/components/is-hero.swig' with { hero: hero } %}

  {# render hero? #}

  {% if hero._is_hero %}
    {% set line_break_sequence.above = 'hero' %}
  {% endif %}

  {# intro #}
  {% set intro = {
      title: cms.listofquestions.intro_title,
      description: cms.listofquestions.intro_description,
    }
  %}

  {% if intro._is_intro && line_break_sequence.above !== null %}
    {% set line_break_sequence.below = 'intro' %}
  {% elseif intro._is_intro && line_break_sequence.above === null %}
    {% set line_break_sequence.above = 'intro' %}
  {% endif %}

  {% include 'templates/partials/components/line.swig' with { line: line_break_sequence } %}

  {# render intro? #}

  {% set content = cms.listofquestions.questions %}

  {% set counter = {
    questions: 0,
    galleries: 0,
    links: 0,
  } %}

  {% for item in content %}
    {# decorate type #}
    {% include 'templates/partials/components/is-type-of-content.swig' with { item: item } %}

    {# render line break #}
    {% if item._is_question %}
      {% set counter.questions = counter.questions + 1 %}
      {% set line_break_sequence.below = questionEvenOrOdd(counter.questions) %}
    {% elseif item._is_gallery %}
      {% set counter.galleries = counter.galleries + 1 %}
      {% set line_break_sequence.below = 'gallery' %}
    {% elseif item._is_link %}
      {% set counter.links = counter.links + 1 %}
      {% set line_break_sequence.below = 'link' %}
    {% endif %}

    {% include 'templates/partials/components/line.swig' with { line: line_break_sequence } %}


    {# render the item #}
    {% if item._is_question %}
      {% set section_id = 'question-' + counter.questions %}

      {% if item.question %}
        {% set section_label = item.question|slugify %}
      {% else %}
        {% set section_label = null %}
      {% endif %}

      {% set questionContainerClass = isEvenOrOdd( counter.questions, 'question-container--even', 'question-container--odd' ) %}
      
      <section
        class="question-container {{ questionContainerClass }}"
        id="{{ section_id }}"
        {% if section_label %}
        aria-labelledby="{{ section_label }}"
        {% endif %}
        >
        
        <h3 class="number">{{ counter.questions }}</h3>
        
        {% if item.question %}
          <h2 class="question" id="{{ section_label }}">{{ item.question }}</h2>
        {% endif %}
        
        {% if item.answer %}
          <div class="answer">
            {{ item.answer|rollup_galleries|safe }}

            {% if item.question_footer_link_text %}
              {% if item.question_footer_link_url %}
                <a
                  href="{{ item.question_footer_link_url }}"
                  class="question-footer-link-anchor"
                  {{ openInNewWindowIfExternalLink(item.question_footer_link_url) }}>
              {% endif %}

              <h2 class="question-footer__link-text">{{ item.question_footer_link_text }}</h2>

              {% if item.question_footer_link_url %}
                </a>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
      </section>

    {% elseif item._is_gallery %}

      {% set gallery_id = 'gallery-' + counter.galleries %}

      {% if item.gallery_title %}
        {% set section_label = item.gallery_title|slugify %}
      {% else %}
        {% set section_label = null %}
      {% endif %}

      <section
        class="gallery-container"
        id="{{ gallery_id }}"
        {% if section_label %}
        aria-labelledby="{{ section_label }}"
        {% endif %}
        >
        {% if item.gallery_title %}
          <h2 class="gallery__title" id="{{ section_label }}">{{ item.gallery_title }}</h2>
        {% endif %}

        {% if item.gallery_description %}
          <div class="gallery__description">{{ item.gallery_description }}</div>
        {% endif %}

        {% if item.gallery_content %}
          <div class="gallery__content">{{ item.gallery_content|rollup_galleries|safe }}</div>
        {% endif %}
      </section>

    {% elseif item._is_link %}

      {% set link_id = 'link-' + counter.links %}

      {% set section_label = item.link_text|slugify %}

      <section
        class="link-container"
        id="{{ link_id }}"
        aria-labelledby="{{ section_label }}">
        {% if item.link_url %}
          <a
            href="{{ item.link_url }}"
            class="link-anchor"
            {{ openInNewWindowIfExternalLink(item.link_url) }}>
        {% endif %}
        
        <h2 class="link-text" id="{{ section_label }}">{{ item.link_text }}</h2>

        {% if item.link_url %}
          </a>
        {% endif %}
      </section>
    {% endif %}

    {# set new above as the item just rendered #}
    {% set line_break_sequence.above = line_break_sequence.below %}
  {% endfor %}

{% endblock %}
