<link rel="shortcut icon" href="/static/images/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/static/images/touch-icon.png"/>

<script>
  window.WebhookRedactorOptions = {
    formattingAdd: [
      {
        tag: 'p',
        title: 'Normal text',
      },
      {
        tag: 'h3',
        title: 'Header 3',
      },
      // this does not work as a drop down option
      // but there are styles for it none the less
      // if it comes in handy as a thing to apply
      // {
      //   tag: 'div',
      //   'class': 'wysiwyg-columns',
      //   title: 'Display as columns',
      // },
    ],
    allowedTags: [
      'div',
      'h3',
      'p',
    ],
    replaceDivs: false,
  }
</script>
