$darkest-color: rgb(31, 31, 31);
$darker-color: rgb(70, 70, 70);
$dark-color: rgb(106, 106, 106);
$neutral-color: rgb(140, 140, 140);
$light-color: rgb(180, 180, 180);
$lighter-color: rgb(208, 208, 208);
$lightest-color: rgb(255, 255, 255);
