$darkest-color: rgb(31, 31, 31);
$darker-color: rgb(70, 70, 70);
$dark-color: rgb(106, 106, 106);
$neutral-color: rgb(140, 140, 140);
$light-color: rgb(180, 180, 180);
$lighter-color: rgb(208, 208, 208);
$lightest-color: rgb(255, 255, 255);

$pop-color-1: rgb(91, 102, 251);
$pop-color-2: rgb(252, 54, 142);

:root {
  --darkest-color: #{ $darkest-color };
  --lightest-color: #{ $lightest-color };
  --pop-color-1: #{ $pop-color-1 };
  --pop-color-2: #{ $pop-color-2 };
}
